@model IndexVM[];

@{
    ViewBag.Title = "Employees List";
}

<ul>
    @foreach (IndexVM employee in Model)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id"><span style="color:@(employee.ShowAsHighlighted ? "red" : "inherit")">@employee.Name</span></a>
        </li>
    }
</ul>